<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Данные о счете</title>
</head>
<body>
<span th:if="${transferResult != null && transferResult.getStatus() == 0}" >Перевод выполнен успешно</span>
<span th:if="${transferResult != null && transferResult.getStatus() == 1}" >Перевод не выполнен</span>
    <p th:text="'Номер счета: ' + ${account.getAccountNumber()} " />
    <p th:text="'Владелец: ' + ${account.getOwner().getName()} " />
    <p th:text="'Баланс: ' + ${account.getBalance()} " />
    <hr>
<a th:href="@{/showOperations(accountNumber=${account.accountNumber})}">История операций по счету</a>

<hr>
<form action="/makeTransfer" method="post">
    <p>Введите сумму перевода: <input type="text" name="amount"/></p>
    <p>Введите счет назначения перевода: <input type="text" name="accountTarget"/></p>
    <input type="hidden" name="accountNumber" th:attr="value=${account.accountNumber}"/>
    <input type="submit">
</form>
</body>
</html>